@model List<Carro>

<div>
    <table>
        <tr>
            <td>Modelos de Carros</td>
        </tr>
        @foreach (var modelo in Model)
        {
            <tr>
                <td>@modelo.Modelo</td>
            </tr>
            
        }
    </table>
</div>